<h2>Contact Us</h2>
<p>
    Dayu Apoji, Ph.D. <br>
    Assistant Professor <br>
    Faculty of Civil and Environmental Engineering <br>
    Bandung Institute of Technology <br>
    <br>
    email: dayu.apoji (at) itb.ac.id <br>
    <br>
    Dr. Dayu Apoji is an Assistant Professor in the Faculty of Civil and Environmental Engineering at Institut Teknologi
    Bandung (ITB) and a certified geotechnical engineer with over 15 years of experience in research and practice. He
    has contributed to major infrastructure projects across Indonesia and Southeast Asia, with research experience in
    the United States and the United Kingdom. He holds a Ph.D. from the University of California, Berkeley (USA), an
    M.Sc. from Imperial College London (UK), and B.Eng. and M.Eng. from ITB.
</p>