---
title: Lab Data dan Komputasi Geoteknik
layout: members
group: members
---

<h1>Lab Data dan Komputasi Geoteknik Members</h1>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien sem, gravida sodales eleifend iaculis,
efficitur quis tortor. Sed lacus urna, malesuada facilisis hendrerit quis, fringilla a lorem.

{% assign pi_members = "" | split: "" %}
{% for member in site.members %}
{% if member.enddate != empty and member.startdate.size == member.enddate.size %}
{% assign last_enddate = member.enddate | last %}
{% assign enddate_seconds = last_enddate | date: "%s" %}
{% assign now_seconds = "now" | date: "%s" %}
{% if enddate_seconds < now_seconds %} {% continue %} {% endif %} {% endif %} {% unless member.position
  contains "Principal" %} {% continue %} {% endunless %} {% assign pi_members=pi_members | push: member %} {% endfor %}
  {% if pi_members.size> 0 %}
  <h4>Principal</h4>
  {% for member in pi_members %}
  {% include member_card.html member=member %}
  {% endfor %}
  {% endif %}

  {% assign doctoral_members = "" | split: "" %}
  {% for member in site.members %}
  {% if member.enddate != empty and member.startdate.size == member.enddate.size %}
  {% assign last_enddate = member.enddate | last %}
  {% assign enddate_seconds = last_enddate | date: "%s" %}
  {% assign now_seconds = "now" | date: "%s" %}
  {% if enddate_seconds < now_seconds %} {% continue %} {% endif %} {% endif %} {% unless member.position
    contains "Doctoral Student" %} {% continue %} {% endunless %} {% assign doctoral_members=doctoral_members | push:
    member %} {% endfor %} {% if doctoral_members.size> 0 %}
    <h4>Doctoral Students</h4>
    {% for member in doctoral_members %}
    {% include member_card.html member=member %}
    {% endfor %}
    {% endif %}

    {% assign grad_members = "" | split: "" %}
    {% for member in site.members %}
    {% if member.enddate != empty and member.startdate.size == member.enddate.size %}
    {% assign last_enddate = member.enddate | last %}
    {% assign enddate_seconds = last_enddate | date: "%s" %}
    {% assign now_seconds = "now" | date: "%s" %}
    {% if enddate_seconds < now_seconds %} {% continue %} {% endif %} {% endif %} {% unless member.position
      contains "Graduate Student" %} {% continue %} {% endunless %} {% comment %} "Undergraduate Student"
      contains "Graduate Student" as a substring, so exclude it explicitly {% endcomment %} {% if member.position
      contains "Undergraduate Student" %} {% continue %} {% endif %} {% assign grad_members=grad_members | push: member
      %} {% endfor %} {% if grad_members.size> 0 %}
      <h4>Graduate Students</h4>
      {% for member in grad_members %}
      {% include member_card.html member=member %}
      {% endfor %}
      {% endif %}

      {% assign undergrad_members = "" | split: "" %}
      {% for member in site.members %}
      {% if member.enddate != empty and member.startdate.size == member.enddate.size %}
      {% assign last_enddate = member.enddate | last %}
      {% assign enddate_seconds = last_enddate | date: "%s" %}
      {% assign now_seconds = "now" | date: "%s" %}
      {% if enddate_seconds < now_seconds %} {% continue %} {% endif %} {% endif %} {% unless member.position
        contains "Undergraduate Student" %} {% continue %} {% endunless %} {% assign undergrad_members=undergrad_members
        | push: member %} {% endfor %} {% if undergrad_members.size> 0 %}
        <h4>Undergraduate Students</h4>
        {% for member in undergrad_members %}
        {% include member_card.html member=member %}
        {% endfor %}
        {% endif %}

        {% assign engineer_members = "" | split: "" %}
        {% for member in site.members %}
        {% if member.enddate != empty and member.startdate.size == member.enddate.size %}
        {% assign last_enddate = member.enddate | last %}
        {% assign enddate_seconds = last_enddate | date: "%s" %}
        {% assign now_seconds = "now" | date: "%s" %}
        {% if enddate_seconds < now_seconds %} {% continue %} {% endif %} {% endif %} {% unless member.position
          contains "Engineer" %} {% continue %} {% endunless %} {% assign engineer_members=engineer_members | push:
          member %} {% endfor %} {% if engineer_members.size> 0 %}
          <h4>Engineers</h4>
          {% for member in engineer_members %}
          {% include member_card.html member=member %}
          {% endfor %}
          {% endif %}

          {% assign affiliate_members = "" | split: "" %}
          {% for member in site.members %}
          {% if member.enddate != empty and member.startdate.size == member.enddate.size %}
          {% assign last_enddate = member.enddate | last %}
          {% assign enddate_seconds = last_enddate | date: "%s" %}
          {% assign now_seconds = "now" | date: "%s" %}
          {% if enddate_seconds < now_seconds %} {% continue %} {% endif %} {% endif %} {% unless member.position
            contains "Affiliate" %} {% continue %} {% endunless %} {% assign affiliate_members=affiliate_members | push:
            member %} {% endfor %} {% if affiliate_members.size> 0 %}
            <h4>Affiliates</h4>
            {% for member in affiliate_members %}
            {% include member_card.html member=member %}
            {% endfor %}
            {% endif %}

            <hr>

            <div>
              {% assign stretch = 60 %}
              {% assign yheight = 16 %}
              {% assign yspacing = 18 %}
              {% assign fontsize = 12 %}
              {% assign yearoffset = 2020 %}
              {% assign majortick = 0.05 %}
              {% assign minortick = 0.025 %}
              {% assign legendboxsize = 20 %}
              {% assign legendboxspacing = 24 %}
              {% assign legendn = 6 %}
              {% assign sorted_people = site.members | concat: site.alumni | sort: "startdate" %}
              {% assign finalyear = "now" | date: "%Y" | plus: 1 %}
              {% assign legend_height = legendn | times: legendboxspacing | plus: 10 %}
              {% assign svg_rows_height = sorted_people.size | plus: 1 | times: yspacing %}
              {% assign svgheight = svg_rows_height | plus: legend_height %}
              <?xml version="1.0" encoding="UTF-8" ?>
              <svg width="100%" height="auto"
                viewBox="0 0 {{ finalyear | minus: yearoffset | plus: majortick | times: stretch }} {{ svgheight }}"
                xmlns="http://www.w3.org/2000/svg">
                {% assign i = 0 %}
                {% for year in (yearoffset..finalyear)%}
                {% assign year5 = year | modulo: 5 %}
                {% if year5 == 0 %}
                {% assign tick = majortick %}
                <text
                  x="{{ fontsize | divided_by: 4.0 | divided_by: stretch | plus: tick | plus: year | minus: yearoffset | times: stretch }}"
                  y="{{ i | times: yspacing | plus: fontsize }}" font-family="sans-serif" font-size="{{ fontsize }}"
                  stroke="black">{{ year }}</text>
                {% else %}
                {% assign tick = minortick %}
                {% endif %}
                <rect x="{{ year | minus: yearoffset | times: stretch }}" y="0" width="{{ tick | times: stretch }}"
                  height="{{ yheight }}" fill="black" />
                {% endfor %}
                {% assign i = i | plus: 1 %}

                {% comment %} Principal are always rendered first {% endcomment %}
                {% for member in sorted_people %}
                {% assign pos_lower = member.position | downcase %}
                {% unless pos_lower contains "principal" %}{% continue %}{% endunless %}
                {% assign tenures = member.startdate.size | minus: 1 %}
                {% for tenure in (0..tenures) %}
                {% assign startyear = member.startdate[tenure] | date: "%Y" | minus: yearoffset %}
                {% assign startmonth = member.startdate[tenure] | date: "%m" | minus: 1 | divided_by: 12.0 %}
                {% assign start = startyear | plus: startmonth %}
                {% if member.enddate[tenure] %}
                {% assign endyear = member.enddate[tenure] | date: "%Y" | minus: yearoffset %}
                {% assign endmonth = member.enddate[tenure] | date: "%m" | minus: 1 | divided_by: 12.0 %}
                {% assign end = endyear | plus: endmonth %}
                {% else %}
                {% assign endyear = "now" | date: "%Y" | minus: yearoffset %}
                {% assign endmonth = "now" | date: "%m" | minus: 1 | divided_by: 12.0 %}
                {% assign end = endyear | plus: endmonth %}
                {% endif %}
                {% assign duration = end | minus: start %}
                {% if duration
                < 0.083 %} # For plotting purposes, minimum duration is a month {% assign duration=0.083 %} {% endif %}
                  <rect x="{{ start | times: stretch }}" y="{{ i | times: yspacing }}"
                  width="{{ duration | times: stretch }}" height="{{ yheight }}" fill="red" />
                {% if tenure == 0 %}
                <text text-anchor="end"
                  x="{{ fontsize | divided_by: -4.0 | divided_by: stretch | plus: start | times: stretch }}"
                  y="{{ i | times: yspacing | plus: fontsize }}" font-family="sans-serif" font-size="{{ fontsize }}"
                  stroke="black">{% if member.timeline_name %}{{ member.timeline_name }}{% else %}{{ member.name |
                  split: " " | first }}{% endif %}</text>
                {% endif %}
                {% endfor %}
                {% assign i = i | plus: 1 %}
                {% endfor %}

                {% comment %} All other members sorted by start date {% endcomment %}
                {% for member in sorted_people %}
                {% assign pos_lower = member.position | downcase %}
                {% if pos_lower contains "principal" %}{% continue %}{% endif %}
                {% assign tenures = member.startdate.size | minus: 1 %}
                {% for tenure in (0..tenures) %}
                {% assign startyear = member.startdate[tenure] | date: "%Y" | minus: yearoffset %}
                {% assign startmonth = member.startdate[tenure] | date: "%m" | minus: 1 | divided_by: 12.0 %}
                {% assign start = startyear | plus: startmonth %}
                {% if member.enddate[tenure] %}
                {% assign endyear = member.enddate[tenure] | date: "%Y" | minus: yearoffset %}
                {% assign endmonth = member.enddate[tenure] | date: "%m" | minus: 1 | divided_by: 12.0 %}
                {% assign end = endyear | plus: endmonth %}
                {% else %}
                {% assign endyear = "now" | date: "%Y" | minus: yearoffset %}
                {% assign endmonth = "now" | date: "%m" | minus: 1 | divided_by: 12.0 %}
                {% assign end = endyear | plus: endmonth %}
                {% endif %}
                {% assign duration = end | minus: start %}
                {% if duration
                < 0.083 %} # For plotting purposes, minimum duration is a month {% assign duration=0.083 %} {% endif %}
                  {% if member.timeline_group %} # Assign timeline color specifically from profile, otherwise from
                  position {% assign position=member.timeline_group | downcase %} {% elsif member.timeline_positions %}
                  #all search strings in following section must be lowercase or it will not find matches {% assign
                  position=member.timeline_positions[tenure] | downcase %} {% else %} {% assign position=member.position
                  | downcase %} {% endif %} {% if position contains "principal" %} {% assign color="red" %} {% elsif
                  position contains "doctoral student" or position contains "postdoctoral" %} {% assign
                  color="darkorange" %} {% elsif position contains "undergraduate student" %} {% assign color="blue" %}
                  {% elsif position contains "graduate student" %} {% assign color="gold" %} {% elsif position
                  contains "engineer" or position contains "staff scientist" or position contains "programmer" or
                  position contains "manager" %} {% assign color="green" %} {% elsif position contains "specialist" or
                  position contains "technician" or position contains "propel" %} {% assign color="turquoise" %} {%
                  elsif position contains "affiliate" %} {% assign color="purple" %} {% else %} {% assign color="blue"
                  %} {% endif %} <rect x="{{ start | times: stretch }}" y="{{ i | times: yspacing }}"
                  width="{{ duration | times: stretch }}" height="{{ yheight }}" fill="{{ color }}" />
                {% if tenure == 0 %}
                <text text-anchor="end"
                  x="{{ fontsize | divided_by: -4.0 | divided_by: stretch | plus: start | times: stretch }}"
                  y="{{ i | times: yspacing | plus: fontsize }}" font-family="sans-serif" font-size="{{ fontsize }}"
                  stroke="black">{% if member.timeline_name %}{{ member.timeline_name }}{% else %}{{ member.name |
                  split: " " | first }}{% endif %}</text>
                {% endif %}
                {% endfor %}
                {% assign i = i | plus: 1 %}
                {% endfor %}

                {% assign fontsize = 14 %}
                {% assign xposition = 10 %}
                {% assign yposition = i | times: yspacing | plus: 10 %}
                <rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}"
                  fill="red" />
                <text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}"
                  y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}"
                  font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Principal</text>
                {% assign yposition = yposition | plus: legendboxspacing %}
                <rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}"
                  fill="darkorange" />
                <text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}"
                  y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}"
                  font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Doctoral student</text>
                {% assign yposition = yposition | plus: legendboxspacing %}
                <rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}"
                  fill="gold" />
                <text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}"
                  y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}"
                  font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Graduate student</text>
                {% assign yposition = yposition | plus: legendboxspacing %}
                <rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}"
                  fill="green" />
                <text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}"
                  y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}"
                  font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Engineer</text>
                {% assign yposition = yposition | plus: legendboxspacing %}
                <rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}"
                  fill="blue" />
                <text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}"
                  y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}"
                  font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Undergraduate student</text>
                {% assign yposition = yposition | plus: legendboxspacing %}
                <rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}"
                  fill="purple" />
                <text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}"
                  y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}"
                  font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Affiliate</text>
              </svg>
            </div>